.title
{
    color: red;
}

.subtitle
{
    color: aqua;
}

#contact-us
{
    color: green;
}

h2:hover
{
    color: red;
}

h2 + a
{
    color: red;
}

textarea ~ button
{
    color: purple;
}

img[src^="../img/"]
{
    border: 10px solid black;
}